button {
    border: none;
    background-color: #ffffff;
}

.container {
    padding: 10px;
    width:100%;
}

.videoContainer {
    margin: auto;
    width:70%;
}

.video {
    width: 100%;
}

.accessPanel {
    width: 100%;
    display: flex;
}

.accessPanelText {
    margin: auto;
}